body {
  color: rgb(00,00,00);
  font-family: Roboto; sans-serif;
  margin: 0;
  text-align: center
  justify-content: center;
}


div.landing {
  margin: 10px
  padding: 1;
}

h1, h3, h4, h5 {
  font-family: 'News Cycle', sans-serif;
}

ul {
  font-family: 'News Cycle', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgb(00,00,00);
    }



h2 {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    border-radius: 130px;

  }


h1 {
  text-align: center;
  justify-content: center;
  margin: 5px;
  Color: #2d1f12;
  font-size: 4.5em;

}


nav {
  background-color: #2d1f12;
  font-family: 'Roboto', sans-serif;
}


.header-site {
   background: url('/Users/edith/Desktop/coding_course/FridgeRaiders/FridgeRaiders/CSS/spoons.jpg');
   height: 250px;
   background-repeat: repeat;

}


div.recipesimage {

  padding: 5px;
  width: 700px;
  align-items: flex-start;
  }

  .cardtext  {
  font-family: 'News Cycle', sans-serif;
  }
