body {
  color: rgb(65,75,86);
  font-family: arial;
  margin: 0;
}

div.recipeoptions {
  justify-content: center;
  margin: 20px
  padding: 1;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin: 5px;
  Color: #2d1f12;
  font-size: 4.5em;
}

p {
  font-family: 'News Cycle', sans-serif;
}
nav {
  background-color: #2d1f12;
  font-family: 'Roboto', sans-serif;
}
